html body {
    margin: 0;
    background-color: #2f4f30;
    color: white;
    font: 20px;
}

.title {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 2%;
    font-size: 2rem;
}

.cards {
    position: relative;
    max-width: 150px;
    left: 100px;
    margin-left: -75px;
}

#ai-cards, #player-cards {
    min-height: 240px;
}